@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(139, 139, 139, 0.277);
  -webkit-border-radius: 100px;
}

/* ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
} */

::-webkit-scrollbar-thumb:vertical {
  background: rgba(192, 191, 191, 0.9);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(192, 191, 191, 0.9); 
}

