@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  background-color: #353e43;
  -webkit-border-radius: 100px;
}

/* ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
} */

::-webkit-scrollbar-thumb:vertical {
  background: #99aebb;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(255, 255, 255, 0.9); 
}

